.header__lupa {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    background-image: url("../../img/header/Icone.png");
    background-repeat: no-repeat;
}

@media (max-width: 617px) {
    .header__lupa {
        background-image: url("../../img/header/Icone2.png");
    }
}

