.header__logo{
    display: flex;
    width: 11rem;
    justify-content: center;
    align-items: center; 
    margin-right: 2rem;    
}

@media (max-width: 768px) {
    .header__logo{
        width: 9rem;
    }
    .header__logo img{
        width: 8rem;
    }
    
}