.header__input {
    color: #A2A2A2;
    font-size: 0.875rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    background: none;
}

@media (max-width: 617px) {
    .header__input {
        display: none;
    }

}