.header{
display: flex;
width: 100%;
padding: 1.9rem 9%;
align-items: center;
background: var(--bg-color);


}

@media (max-width: 617px) {
    .header {
        justify-content: space-around;
        padding: 1rem;
    }
}