.totalProductos {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    width: 98.9vw;
    flex-direction: column;
    align-items: center;

}

.totalProductos__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.totalProductos__barra {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

}

.producto__barra__lista__item a {
    margin-bottom: 4rem;
}

.producto__barra__titulo__boton1 {
    display: flex;
    padding: 1rem;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 3px;
    color: #fff;
    background-color: var(--second-bg-color);
    transition: .5s ease;
}

.producto__barra__titulo__boton1:hover {
    box-shadow: 0 0 1rem var(--second-bg-color);
    color: var(--second-bg-color);
    background-color: var(--bg-color);
    transform: scale(1.1);
    border-radius: 4px;
    border: none;
}


@media (max-width: 768px) {
    .totalProductos {
        padding: 2rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

    .totalProductos__barra{
        width: auto;
        justify-content: center;
        gap: 0.9rem
    }
}

@media (max-width: 565px) {
    .producto__barra__titulo{
        flex-wrap: wrap;
        gap: 1rem;
    }
}
