.contacto__form__nombre {
    width: 37.33vw;
    height: 3.2rem;
    color: #A2A2A2;
    font-size: 1rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.7rem;
}

@media (max-width: 768px) {
    .contacto__form__nombre {
        width: 54vw;
    }
}

@media (max-width: 480px) {
    .contacto__form__nombre {
        width: 90vw;
        height: 4rem;
    }
}